  <!-- plugins:js -->
  <script src="/adminAssets/vendors/js/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="/adminAssets/vendors/chart.js/Chart.min.js"></script>
  <script src="/adminAssets/vendors/datatables.net/jquery.dataTables.js"></script>
  <script src="/adminAssets/vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
  <script src="/adminAssets/js/dataTables.select.min.js"></script>
  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="/adminAssets/js/off-canvas.js"></script>
  <script src="/adminAssets/js/hoverable-collapse.js"></script>
  <script src="/adminAssets/js/template.js"></script>
  <script src="/adminAssets/js/settings.js"></script>
  <script src="/adminAssets/js/todolist.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="/adminAssets/js/file-upload.js"></script>
  <script src="/adminAssets/js/dashboard.js"></script>
  <script src="/adminAssets/js/Chart.roundedBarCharts.js"></script>
  <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
  <script>
    $(document).ready(function () {
      $('#table-pagination').DataTable();
    }); 
</script>
</body>

</html>
