<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Skydash Admin</title>
  <!-- plugins:css -->
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="/adminAssets/vendors/feather/feather.css">
  <link rel="stylesheet" href="/adminAssets/vendors/ti-icons/css/themify-icons.css">
  <link rel="stylesheet" href="/adminAssets/vendors/css/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.6/dist/sweetalert2.min.css">
  <link rel="stylesheet" href="/adminAssets/vendors/datatables.net-bs4/dataTables.bootstrap4.css">
  <link rel="stylesheet" href="/adminAssets/vendors/ti-icons/css/themify-icons.css">
  <link rel="stylesheet" type="text/css" href="adminAssets/js/select.dataTables.min.css">
  <link rel="stylesheet" href="/adminAssets/vendors/mdi/css/materialdesignicons.min.css">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="/adminAssets/css/vertical-layout-light/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="/adminAssets/images/favicon.png"/>
  <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
  <style>
    .del-image-container {
      position: relative;
      max-width: 120px;
      margin-bottom: 10px;
    }
    
    .delete-img-icon {
      position: absolute;
      top: 0;
      right: 0;
      padding: 5px;
      color: #fff;
      font-size: 20px;
      text-align: center;
      text-decoration: none;
      transition: background-color 0.3s ease;
    }
    
    .delete-img-icon:hover {
      background-color: rgba(0, 0, 0, 0.8);
    }
  </style>
</head>

<body>
