<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fslightbox/3.3.1/index.js"></script>
<script src="/userAssets/js/script.js"></script>
<script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

<!-- Display the countdown timer in an element -->
<!-- <p id="demo"></p> -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.20/dist/sweetalert2.min.js"></script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $("#subscribeForm").submit((e) => {
        e.preventDefault();
        const email = document.getElementById("subscribeEmail").value
        $.ajax({
            type: "POST",
            url: '/newsLetter',
            data: {
                email: email
            },
            success: (response) => {
                if (response.success) {
                    document.getElementById("subscribeEmail").value = "";
                    const Toast = Swal.mixin({
                        toast: true,
                        position: 'top-end',
                        showConfirmButton: false,
                        timer: 2200,
                        timerProgressBar: true,
                        didOpen: (toast) => {
                            toast.addEventListener('mouseenter', Swal.stopTimer)
                            toast.addEventListener('mouseleave', Swal.resumeTimer)
                        }
                    })
                    Toast.fire({
                        icon: 'success',
                        title: 'Subscribed'
                    })
                } else {

                }
            },
        })
    }
    )
    document.addEventListener('DOMContentLoaded', () => {
        const shuffleIcons = document.querySelectorAll('a .ri-shuffle-line');
        shuffleIcons.forEach((icon) => {
            icon.addEventListener('click', (event) => {
                const id = event.target.parentNode.getAttribute('id');
                const url = `shoppio.site/product?id=${id}`
                navigator.clipboard.writeText(url).then(() => {
                    const Toast = Swal.mixin({
                        toast: true,
                        position: 'top-end',
                        showConfirmButton: false,
                        timer: 2200,
                        timerProgressBar: true,
                        didOpen: (toast) => {
                            toast.addEventListener('mouseenter', Swal.stopTimer)
                            toast.addEventListener('mouseleave', Swal.resumeTimer)
                        }
                    })
                    Toast.fire({
                        icon: 'success',
                        title: 'Copied to Clipboard'
                    })
                }).catch((error) => {
                    console.error('Error copying URL to clipboard:', error);
                });
            });
        });
    });

    function googleTranslateElementInit() {
        new google.translate.TranslateElement({
          pageLanguage: 'en',
          includedLanguages: 'es,fr,de', // add the languages you want to support
          layout: google.translate.TranslateElement.InlineLayout.HORIZONTAL
        }, 'google-translate');
      }
      
</script>
</body>

</html>